version: '3.8'

services:
  # Baze de date
  users-db:
    image: postgres:16
    container_name: users-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: users-db
    ports:
      - "5433:5432"
    networks:
      - demo_net

  devices-db:
    image: postgres:16
    container_name: devices-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: devices-db
    ports:
      - "5434:5432"
    networks:
      - demo_net

  auth-db:
    image: postgres:16
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: credentials-db
    ports:
      - "5435:5432"
    networks:
      - demo_net

  # Microservicii
  users-service:
    build:
      context: ./users-service
      dockerfile: Dockerfile
    container_name: users-service
    ports:
      - "8081:8081"
    environment:
      - DB_IP=users-db
      - DB_PORT=5432
      - DB_DBNAME=users-db
      - DB_USER=postgres
      - DB_PASSWORD=root
      - PORT=8081
    networks:
      - demo_net
    depends_on:
      - users-db

  devices-service:
    build:
      context: ./devices-service
      dockerfile: Dockerfile
    container_name: devices-service
    ports:
      - "8082:8082"
    environment:
      - DB_IP=devices-db
      - DB_PORT=5432
      - DB_DBNAME=devices-db
      - DB_USER=postgres
      - DB_PASSWORD=root
      - PORT=8082
    networks:
      - demo_net
    depends_on:
      - devices-db

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "8083:8080" # Mapăm intern 8080 la extern 8083
    environment:
      - DB_IP=auth-db
      - DB_PORT=5432
      - DB_DBNAME=credentials-db
      - DB_USER=postgres
      - DB_PASSWORD=root
      - PORT=8080
    networks:
      - demo_net
    depends_on:
      - auth-db

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "8084:8084"
    environment:
      - SERVER_PORT=8084
      - AUTH_BASE_URL=http://auth-service:8080
      - USERS_BASE_URL=http://users-service:8081
      - DEVICES_BASE_URL=http://devices-service:8082
    networks:
      - demo_net
    depends_on:
      - auth-service
      - users-service
      - devices-service

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"  # Mapăm portul 5173 din container pe 5173 al calculatorului tău
    environment:
      - VITE_API_BASE_URL=http://localhost:8084/api
    networks:
      - demo_net
    depends_on:
      - api-gateway  # Așteptăm să pornească gateway-ul înainte
    # Această linie permite "Hot Reload" (modificările locale se văd instant în container)
    # Dacă ai probleme cu permisiunile pe Windows, poți comenta linia 'volumes'
    volumes:
      - ./frontend:/app
      - /app/node_modules

networks:
  demo_net:
    driver: bridge

